<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fishing Spot Details</title>

  <!-- Include the link to your CSS file here -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <!-- fishing-spot-details.ejs -->
  <h1>Fishing Spot Details</h1>

  <div class="spot-details">
    <div class="spot-info">
      <h2>Name:</h2>
      <p><%= spot.name %></p>
    </div>
    <div class="spot-info">
      <h2>Location:</h2>
      <p><%= spot.location %></p>
    </div>
    <div class="spot-info">
      <h2>Description:</h2>
      <p><%= spot.description %></p>
    </div>
    <!-- Add more details here as needed -->
  </div>

  <!-- Link to go back to the list of fishing spots -->
  <div class="card-buttons">
    <a href="/spots" class="card-button">Back to All Fishing Spots</a>
    <a href="/fishing-spots/<%= spot._id %>/edit" class="card-button">Edit Fishing Spot</a>
    <a href="/fishing-spots/<%= spot._id %>/delete" class="card-button">Delete Fishing Spot</a>
  </div>

  <!-- See Reviews -->
  <h2>Reviews</h2>
  <ul>
    <% spot.reviews.forEach(function(review) { %>
      <li>
        <p><strong>Rating:</strong> <%= review.rating %></p>
        <p><strong>Content:</strong> <%= review.content %></p>
        <!-- Add user information here if needed -->
        <!-- Delete Review Button -->
        <form action="/spots/<%= spot._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Review</button>
        </form>
      </li>
    <% }); %>
  </ul>

  <!-- Add Review Form -->
  <h2>Add a Review</h2>
  <form action="/spots/<%= spot._id %>/reviews" method="POST">
    <label for="rating">Rating:</label>
    <input type="number" id="rating" name="rating" required>

    <label for="content">Review Content:</label>
    <textarea id="content" name="content" required></textarea>

    <button type="submit">Submit Review</button>
  </form>
</body>
</html>
