<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fishing Spot Details</title>

  <!-- Include the link to your CSS file here -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/styleDetail.css">
</head>
<body>
  <!-- fishing-spot-details.ejs -->
  <h1>Fishing Spot Details</h1>

  <div class="spot-details">
    <div class="spot-info">
      <h2>Name:</h2>
      <p><%= spot.name %></p>
    </div>
    <div class="spot-info">
      <h2>Location:</h2>
      <p><%= spot.location %></p>
    </div>
    <div class="spot-info">
      <h2>Description:</h2>
      <p><%= spot.description %></p>
    </div>
    <!-- Add more details here as needed -->
  </div>

  <!-- Link to go back to the list of fishing spots -->
    <div class="card-buttons">
      <a href="/spots" class="card-button">Back to All Fishing Spots</a>
      <a href="/fishing-spots/<%= spot._id %>/edit" class="card-button">Edit Fishing Spot</a>
      <a href="/fishing-spots/<%= spot._id %>/delete" class="card-button">Delete Fishing Spot</a>
    </div>
</body>
</html>
